
<!DOCTYPE html>
<html ng-app="tcc">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<style type="text/css">
		
		html, body{
			height: 100%;
		}

		[data-consulta]{
			background-color: #fff;
			padding: 20px;
			width: 800px;
		}


	</style>

</head>

<body class="blackBackbound">
	<div class="loginForm loginRequest">
		<div class="logo" style="color:white; font-size: 20px;">
			<div class="row">
				<img src="/images/fuck uniceub.png">
			</div>
			<div class="row">
				Consulta do cliente
			</div>
		</div>
		<form>
			<div class="row formField">
				<input name="processo" class="inputBlack" placeholder="Processo" required/>
			</div>
				
		</form>
		
		<div class="formButtons">
			<button class="btn btnClear btnRow btnDefault" onclick="$('[data-consulta]').removeClass('hide')">Consultar</button>
		</div>

		<div data-consulta class="hide">
			<div class="row">
				<div class="form-group">
					<label>Processo:</label>
					<span>22222.222222/22222-222</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label>Empresa:</label>
					<span>Coca-Cola</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label>Resposável:</label>
					<span>Raissinha</span>
				</div>
			</div>

			<table>
				<thead>
					<tr>
						<th>Licença</th>
						<th>Data da Solicitação</th>
						<th>Situação</th>
						<th>Data da Avaliação</th>
						<th>Avaliação</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Licença Prévia</td>
						<td>2015-05-06</td>
						<td>Aprovado</td>
						<td>2015-06-06</td>
						<td></td>
					</tr>
					<tr>
						<td>Licença de Instalação</td>
						<td>2016-05-06</td>
						<td>Aprovado</td>
						<td>2015-06-06</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="formLinks">
			<a href="/">Login</a>
		</div>



		<script type="text/javascript">
			function getUrlVars() {
				var vars = {};
				var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
				});
				return vars;
			}
			if(getUrlVars()["error"]){
				$('.error[data-error='+getUrlVars()["error"]+']').removeClass('hide');
			}

			$('form input').on('keyup', function(){
				$('.error[data-error]').addClass('hide');
			});

			$('form').on('submit', function(){
				$.ajax({
					method: "POST",
					url: "/auth/ajax",
					data: $(this).serialize(),
  					dataType: "json"
				}).done(function( res ) {
					$('.error[data-error]').addClass('hide');
					if(res.user_not_found){
						$('.error[data-error=1]').removeClass('hide');
						$('[name=password]').val('');
					}else{
						window.location = '/';
					}
				});
				return false;
			})



		</script>
	</div>
</body>

</html>
