<!DOCTYPE html>
<html ng-app="licagro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LICAGRO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <!-- LOAD CSS -->
    <% for(var i=0; i < cssFiles.length; i++) { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/<%= cssFiles[i] %>" />
    <% } %>

    <script type="text/javascript" src="/javascripts/js/jquery-2.1.4.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/js/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-material.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/js/alertify.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/lodash.js"></script>
    <script type="text/javascript" src="/javascripts/js/ag-grid.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/mask.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/javascripts/js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/ol.js"></script>
    <script type="text/javascript" src="/javascripts/js/ui-bootstrap-tpls-1.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-openlayers-directive.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-img-crop.js"></script>


    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/routes.js"></script>


    <!-- LOAD Services -->
    <% for(var i=0; i < servicesFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/services/<%= servicesFiles[i] %>"></script>
    <% } %>
    <!-- LOAD factoryFiles -->
    <% for(var i=0; i < factoryFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/factories/<%= factoryFiles[i] %>"></script>
    <% } %>
    <!-- LOAD Controllers -->
    <% for(var i=0; i < controllerFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/controllers/<%= controllerFiles[i] %>"></script>
    <% } %>

    <!-- LOAD directiveFiles -->
    <% for(var i=0; i < directiveFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/directives/<%= directiveFiles[i] %>"></script>
    <% } %>


    <script type="text/javascript" src="/javascripts/js/custom.js"></script>

    <script type="text/javascript">
    var TIME_ZONE = 'America/Sao_Paulo';
    var TIME_ZONE_UTC = 'Etc/UTC';
    var CURRENTUSER =  <%- JSON.stringify(user) %>;
    var ISMOBILE = $(window).width() < 768 ? true : false;

    var seed ={
        situacao_imovel: [
         {name: 'Particular'},
         {name: 'Arrendado'},
         {name: 'Posse'},
         {name: 'Alugado'}
        ],
        destino_efluente: [
         {name: 'CAESB'},
         {name: 'Fossa séptica'},
         {name: 'Córrego/lago'},
         {name: 'Rede de água pluvial'}
        ],
        fase_empreendimento: [
         {name: 'Projeto'},
         {name: 'Em implantação'},
         {name: 'implantado/instalado'},
         {name: 'ampliação/reforma'}
        ],
        destino_lixo: [
         {name: 'SLU'},
         {name: 'Contêner (lixeira)'},
         {name: 'Outro'}
        ],
        efluente_liquido: [
         {name: 'Doméstico'},
         {name: 'Óleo'},
         {name: 'Químico'},
         {name: 'Hospitalar'}
        ],
        abastecimento_agua: [
         {name: 'Rede (CAESB)'},
         {name: 'Poço/cisterna'},
         {name: 'Córrego/rio/lago'},
         {name: 'Nascente/mina'}
        ],
        tipo_lixo_gerado: [
         {name: 'Doméstico'},
         {name: 'Comercial'},
         {name: 'Industrial'},
         {name: 'Hospitalar'}
        ],
        tipo_atividade: [
         {name: 'Comércio'},
         {name: 'Indústria'},
         {name: 'Educação'},
         {name: 'Prestação de Serviços'},
         {name: 'Lazer'},
         {name: 'Pecuária'},
         {name: 'Construção'}
        ],
        tipos_licenciamento: [
            {id: 1, name: 'Licença Prévia - LP'},
            {id: 2, name: 'Licença de Instalação - LI'},
            {id: 3, name: 'Licençca de Operação - LO'},
            // {name: 'Autorização Ambiental - AA'},
            // {id:4, name: 'Licença Ambiental Simplificada - LAS'}
        ],
        tipos_avaliacao: [
            {id: 1, name: 'Aprovado'},
            {id: 2, name: 'Rejeitado'}
        ],
        licenciamento_status: [{
            'licenciamento_id': 1,
            'dta': '2011-05-02',
            'tipos_licenciamento_id': 1,
        }, {
            'licenciamento_id': 1,
            'dta': '2012-05-02',
            'tipos_licenciamento_id': 2,
        }, {
            'licenciamento_id': 2,
            'dta': '2013-05-02',
            'tipos_licenciamento_id': 1,
        }, {
            'licenciamento_id': 3,
            'dta': '2014-05-02',
            'tipos_licenciamento_id': 1,
        }, {
            'licenciamento_id': 3,
            'dta': '2015-05-02',
            'tipos_licenciamento_id': 2,
        }, {
            'licenciamento_id': 3,
            'dta': '2016-05-02',
            'tipos_licenciamento_id': 3
        }],
        correspondencia: [{
            "name": 'correspondencia.name 1',
            "telefone": 'correspondencia.telefone 1',
            "locadouro_id": 1
        },{
            "name": 'correspondencia.name 2',
            "telefone": 'correspondencia.telefone 2',
            "locadouro_id": 2
        },{
            "name": 'correspondencia.name 1',
            "telefone": 'correspondencia.telefone 1',
            "locadouro_id": 1
        }],
        locadouro: [{
            "endereco": 'Endereco 1',
            "bairro": 'Bairro 1',
            "cidade": 'Cidade 1'
        },{
            "endereco": 'Endereco 2',
            "bairro": 'Bairro 2',
            "cidade": 'Cidade 2'
        },{
            "endereco": 'Endereco 3',
            "bairro": 'Bairro 3',
            "cidade": 'Cidade 3'
        },{
            "endereco": 'Endereco 4',
            "bairro": 'Bairro 4',
            "cidade": 'Cidade 4'
        }],
        empreendimento: [{
            "localizacao": 'Perto do Supermecado',
            "locadouro_id": 1
        },{
            "localizacao": 'Tão Tão distante',
            "locadouro_id": 2
        }],
        requerente: [{
            "name" : 'requerente.name 1',
            "cpf_cnpj" : '999.999.999-99',
            "cf_df" : '99.999.999/999-99',
            "telefone" : '(61) 999-999-999',
            "responsavel" : 'requerente.responsavel 1',
            "email" : 'requerente@email1.com',
            "rg" : '9999999',
            "cpf" : '999.999.999-99',
            "atividade_area" : '40',
            "atividade_descricao" : 'requerente.description 1',
            "correspondencia_id": 1,
            "empreendimento_id": 1,
            "locadouro_id": 1
        }, {
            "name" : 'requerente.name 2',
            "cpf_cnpj" : '999.999.999-99',
            "cf_df" : '99.999.999/999-99',
            "telefone" : '(61) 999-999-999',
            "responsavel" : 'requerente.responsavel 2',
            "email" : 'requerente@email1.com',
            "rg" : '9999999',
            "cpf" : '999.999.999-99',
            "atividade_area" : '40',
            "atividade_descricao" : 'requerente.description 2',
            "correspondencia_id": 1,
            "empreendimento_id": 1,
            "locadouro_id": 1
        }, {
            "name" : 'requerente.name 3',
            "cpf_cnpj" : '999.999.999-99',
            "cf_df" : '99.999.999/999-99',
            "telefone" : '(61) 999-999-999',
            "responsavel" : 'requerente.responsavel 3',
            "email" : 'requerente@email1.com',
            "rg" : '9999999',
            "cpf" : '999.999.999-99',
            "atividade_area" : '40',
            "atividade_descricao" : 'requerente.description 3',
            "correspondencia_id": 1,
            "empreendimento_id": 1,
            "locadouro_id": 1
        }],
        licenciamento: [{
            "ibram_processo": '111111111111/111111111',
            "requerente_id" : 1,
            "tipo_atividade_id": 1,
            "fase_empreendimento_id": 1,
            "situacao_imovel_id": 1,
            "abastecimento_agua_id": 1,
            "efluente_liquido_id": 1,
            "destino_lixo_id": 1,
            "destino_efluente_id": 1,
            "tipo_lixo_gerado_id": 1
        }, {
            "ibram_processo": '222222222222/222222222',
            "requerente_id" : 1,
            "tipo_atividade_id": 2,
            "fase_empreendimento_id": 2,
            "situacao_imovel_id": 2,
            "abastecimento_agua_id": 2,
            "efluente_liquido_id": 2,
            "destino_lixo_id": 2,
            "destino_efluente_id": 2,
            "tipo_lixo_gerado_id": 2
        }, {
            "ibram_processo": '3333333333333/333333333',
            "requerente_id" : 3,
            "tipo_atividade_id": 3,
            "fase_empreendimento_id": 3,
            "situacao_imovel_id": 3,
            "abastecimento_agua_id": 3,
            "efluente_liquido_id": 3,
            "destino_lixo_id": 3,
            "destino_efluente_id": 3,
            "tipo_lixo_gerado_id": 3
        }],
    }
    var prefix = 'licagro_';
    localStorage.clear();
    _.each(seed, function(model, key){
        _.each(model, function(m, key){
            if(!m.id){
                m.id = key+1;
            }
        });
        localStorage.setItem(prefix + key, JSON.stringify(model));
    });
    </script>
</head>

<body ng-controller="BodyController as body">
    <menu ng-show="layout.hanburger"></menu>
    <layout>
        <div data-layout-header class="layout-header"></div>
        <div data-layout-body class="layout-body"></div>
        <div data-layout-footer class="layout-footer"></div>
    </layout>
