<!DOCTYPE html>
<html ng-app="licagro">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LICAGRO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <!-- LOAD CSS -->
    <% for(var i=0; i < cssFiles.length; i++) { %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/<%= cssFiles[i] %>" />
    <% } %>

    <script type="text/javascript" src="/javascripts/js/jquery-2.1.4.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/js/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-material.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/javascripts/js/alertify.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/lodash.js"></script>
    <script type="text/javascript" src="/javascripts/js/ag-grid.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/mask.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/javascripts/js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/ol.js"></script>
    <script type="text/javascript" src="/javascripts/js/ui-bootstrap-tpls-1.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/angular-openlayers-directive.js"></script>
    <script type="text/javascript" src="/javascripts/js/ng-img-crop.js"></script>


    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/routes.js"></script>


    <!-- LOAD Services -->
    <% for(var i=0; i < servicesFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/services/<%= servicesFiles[i] %>"></script>
    <% } %>
    <!-- LOAD factoryFiles -->
    <% for(var i=0; i < factoryFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/factories/<%= factoryFiles[i] %>"></script>
    <% } %>
    <!-- LOAD Controllers -->
    <% for(var i=0; i < controllerFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/controllers/<%= controllerFiles[i] %>"></script>
    <% } %>

    <!-- LOAD directiveFiles -->
    <% for(var i=0; i < directiveFiles.length; i++) { %>
        <script type="text/javascript" src="/javascripts/directives/<%= directiveFiles[i] %>"></script>
    <% } %>


    <script type="text/javascript" src="/javascripts/js/custom.js"></script>

    <script type="text/javascript">
    var TIME_ZONE = 'America/Sao_Paulo';
    var TIME_ZONE_UTC = 'Etc/UTC';
    var CURRENTUSER =  <%- JSON.stringify(user) %>;
    var ISMOBILE = $(window).width() < 768 ? true : false;
    var seed =  <%- JSON.stringify(seed) %>;
    </script>
    
    <script type="text/javascript" src="/javascripts/seed.js"></script>
</head>

<body ng-controller="BodyController as body">
    <menu ng-show="layout.hanburger"></menu>
    <layout>
        <div data-layout-header class="layout-header"></div>
        <div data-layout-body class="layout-body"></div>
        <div data-layout-footer class="layout-footer"></div>
    </layout>
