
<!DOCTYPE html>
<html ng-app="tcc">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<style type="text/css">
		
		html, body{
			height: 100%;
		}

	</style>

</head>

<body class="blackBackbound">
	<div class="loginForm">
		<div class="logo" style="color:white; font-size:15px;">
			<div class="row">
				<img src="/images/fuck uniceub.png">
			</div>
			<div class="row">
				LICAGRO - Sistema de Controle de Licenciamento Ambiental para Revendedoras de Produtos Agrotóxicos
			</div>
		</div>

		<div class="row formField">
			<span class="error hide" data-error="1">Email ou senha não confere.</span>
			<span class="error hide" data-error="2">Usuário não habilitado para backoffice</span>
		</div>

		<form class="LoginInputs" method="POST" action="/auth">
			
			<div class="row formField">
				<input name="username" class="inputBlack iconInput iconUser" required/>
			</div>
			<div class="row formField">
				<input type="password" name="password" class="inputBlack iconInput iconKey" required/>
			</div>
			
			<div class="formButtons">
				<button class="btn btnClear btnRow btnDefault">Login</button>
			</div>
	
			<div class="formLinks">
				<a>OU</a>
			</div>

			
			<div class="formButtons" style="margin: 0; margin-top:40px;">
				<a href="" class="btn btnClear btnRow btnDefault" data-gest-login>Entrar como visitante</a>
			</div>

		</form>

		<script type="text/javascript">
			function getUrlVars() {
				var vars = {};
				var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
					vars[key] = value;
				});
				return vars;
			}
			if(getUrlVars()["error"]){
				$('.error[data-error='+getUrlVars()["error"]+']').removeClass('hide');
			}

			$('form input').on('keyup', function(){
				$('.error[data-error]').addClass('hide');
			});

			$('form').on('submit', function(){
				$.ajax({
					method: "POST",
					url: "/auth/ajax",
					data: $(this).serialize(),
  					dataType: "json"
				}).done(function( res ) {
					$('.error[data-error]').addClass('hide');
					if(res.user_not_found){
						$('.error[data-error=1]').removeClass('hide');
						$('[name=password]').val('');
					}else{
						window.location = '/';
					}
				});
				return false;
			})

			$('[data-gest-login]').on('click', function(){
				var form = $('<form>').attr({method: 'POST', action: '/auth'});
				form.append($('<input>').attr({name: 'username'}).val('gest'))
				form.append($('<input>').attr({name: 'password'}).val('gest'))
				form.trigger('submit');
			});





		</script>
	</div>
</body>

</html>
