<div class="row" style="text-align: center;margin-bottom:20px;">
	<img src="/images/home.jpg">
</div>
<div class="row">
	<span>
		   O Instituto do Meio Ambiente e dos Recursos Hídricos do Distrito Federal – Brasília Ambiental (IBRAM) foi criado em 28 de maio de 2007 por meio da Lei nº 3.984, para ser o órgão executor de políticas públicas ambientais e de recursos hídricos no Distrito Federal.
     O IBRAM possui autonomia administrativa, financeira e patrimonial podendo, dessa forma, celebrar contratos, acordos e convênios com instituições públicas e privadas, nacionais e internacionais, e cooperativas. Foi constituído como uma autarquia vinculada à Secretaria de Estado de Desenvolvimento Urbano e Meio Ambiente (Seduma).
	</span>
</div>